.home{
    border: 2px solid plum;
    /* display: flex; */
    /* padding: 30px; */
    width: 100%;
}
.home2{
    display: flex;
    gap: 380px;
    /* padding: 5px; */
   
    
    background-color: black;
    ul{
        display: flex;
        gap: 20px;  
        list-style: none;
   
    }
}

ul li{
        display: flex;
        align-items: center;
        line-height:2 ;
    }

ul{
    list-style: none;
}
.home3{
    display: flex;
    justify-content: center;
}
.item{
    width: 180px;
    

}
.home4{
    display: flex;
    background-color: white;
    color: black;
    width: 750px;
    font-size: 13px;
    ul{
        display: flex;
        gap: 20px;
    }
}
.add{
    background-color: rgb(245, 243, 240);
}
.new{
    background-color: white;
    color: black;
    width: 150px;
}
ul li:hover{
    background-color: darkgray;
}
input{
    background-color: white;
}
.addnew{
    font-weight: bold;
}
.total{
    display: flex;
    gap: 20px;
    align-items: center;
    
    justify-content: center;

    div{
        background-color: white;
        color: black;
        width: 130px;
        font-size: 10px;
        border-radius: 10px;
        
    }
    
}
.num{
    font-weight: bold;
}
.total2{
    display: flex;
    align-items: center;
    line-height:2 ;
    
}
#h1{
    color: orange;
    font-size: 40px;
}
#h3{
    font-size: 40px;
    color: rgb(194, 11, 194);
}
#h2{
    font-size: 40px;
    color: rgb(18, 176, 18);
}
.title{
    background-color: white;
    width: 700px;
    border-radius: 10px;
    color: black;
    padding-left: 10px;
   
}
.sed{
    padding-left: 20px;
}
#p{
    font-size: 13px;
}
.senec{
    background-color: rgb(248, 204, 204);
    color: rgb(172, 37, 37);
    padding: 6px;
    border: 1px solid red;
    border-radius: 5px;
}